In [35]:
import pandas as pd
import numpy as np

In [36]:
lookup = pd.read_excel('lookup.xlsx', header=2, index_col=0)

In [37]:
lookup

,State,Trait,State.1,Trait.1,State.2,Trait.2,State.3,Trait.3,State.4,Trait.4,State.5,Trait.5
Raw Score,,,,,,,,,,,,
80.0,93.0,96.0,90.0,96.0,92.0,101.0,90.0,98.0,94.0,102.0,105.0,112.0
79.0,92.0,95.0,89.0,95.0,91.0,99.0,89.0,97.0,93.0,101.0,104.0,111.0
78.0,91.0,93.0,88.0,94.0,90.0,98.0,88.0,96.0,92.0,100.0,102.0,109.0
77.0,90.0,92.0,87.0,93.0,89.0,97.0,87.0,95.0,91.0,99.0,101.0,108.0
76.0,89.0,91.0,86.0,92.0,88.0,96.0,86.0,94.0,90.0,97.0,100.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...
24.0,38.0,38.0,39.0,37.0,39.0,38.0,39.0,38.0,40.0,39.0,40.0,40.0
23.0,37.0,37.0,38.0,36.0,38.0,36.0,38.0,37.0,39.0,38.0,39.0,39.0
22.0,36.0,36.0,37.0,35.0,37.0,35.0,37.0,36.0,38.0,37.0,38.0,37.0
21.0,35.0,35.0,36.0,34.0,36.0,34.0,36.0,35.0,37.0,35.0,37.0,36.0
20.0,34.0,34.0,35.0,33.0,35.0,33.0,36.0,34.0,36.0,34.0,36.0,35.0

In [38]:
data = pd.read_csv('./output/combined_wave1-17_A-N_validation_raking.csv', encoding = "ISO-8859-1", dtype=str, keep_default_na=False, na_values='')

In [39]:
conte_subjects = pd.read_csv('./Working_Data/Week2_Conte/W2C_Qualtrics/COVID19_first_CONTE_WEEK2_num_items.csv', encoding = "ISO-8859-1")

In [40]:
conte_subject_age_sex = conte_subjects[['PROLIFIC_PID', 'DemC5', 'DemC1']].drop([0], axis=0)

In [41]:
subset = data.loc[(data['wave']=='1'), ['DemC5', 'DemC51', 'PROLIFIC_PID']]
#subset = subset.rename({'DemC5': 'gender'}, axis=1)

In [42]:
subset.head()

  DemC5 DemC51              PROLIFIC_PID
0   1.0   1987  5df82e8739bcde5dd044f741
1   2.0   1964  5c7e91c1973c990016ea72b0
2   2.0   1955  5e753094e8a6f10a9805ed9a
3   1.0   1997  5e67052c757e6149c38ce468
4   1.0   1994  5e7745990fd39b2a816ec341

In [43]:
conte_subject_age_sex.head()

  PROLIFIC_PID DemC5 DemC1
1       CC0003     2    36
2       CC0005     2    38
3       CC0007     2    33
4       CC0008     1    31
5       CC0012     1    33

In [44]:
subset['age'] = 2020 - subset['DemC51'].astype(float)

In [45]:
names = conte_subject_age_sex.columns.tolist()
names[-1] = 'age'
conte_subject_age_sex.columns = names
conte_subject_age_sex.head()

  PROLIFIC_PID DemC5 age
1       CC0003     2  36
2       CC0005     2  38
3       CC0007     2  33
4       CC0008     1  31
5       CC0012     1  33

In [46]:
subset = subset.drop(['DemC51'], axis=1)

In [47]:
subset

     DemC5              PROLIFIC_PID   age
0      1.0  5df82e8739bcde5dd044f741  33.0
1      2.0  5c7e91c1973c990016ea72b0  56.0
2      2.0  5e753094e8a6f10a9805ed9a  65.0
3      1.0  5e67052c757e6149c38ce468  23.0
4      1.0  5e7745990fd39b2a816ec341  26.0
...    ...                       ...   ...
1792   2.0  5b5e7e643bac1d0001f9bf28  33.0
1793   1.0  5d56123417ee8d0001cd9e00  73.0
1794   1.0  5d8e3cd58c996a00138f684c  39.0
1795   1.0  5d7e7a080cc1c900155d5d07  36.0
1796   1.0  5def020419398a5b744b98b9  31.0

[1797 rows x 3 columns]

In [48]:
df = pd.concat([subset, conte_subject_age_sex]).reset_index(drop=True)

In [49]:
data_test = data.drop(['DemC5', 'DemC51'], axis=1)

In [50]:
test = data_test.merge(df, how='left', on=['PROLIFIC_PID'])

In [51]:
test.loc[test['PROLIFIC_PID']=='CC0009', ['age', 'DemC5', 'wave']]

      age DemC5 wave
10921  29     1    B
10970  29     1    C
11019  29     1    D
11071  29     1    E
13188  29     1    F
13237  29     1    G
14266  29     1    H
15232  29     1    I
16239  29     1    J
17159  29     1    K
18098  29     1    L
19992  29     1    M

In [52]:
lookup

,State,Trait,State.1,Trait.1,State.2,Trait.2,State.3,Trait.3,State.4,Trait.4,State.5,Trait.5
Raw Score,,,,,,,,,,,,
80.0,93.0,96.0,90.0,96.0,92.0,101.0,90.0,98.0,94.0,102.0,105.0,112.0
79.0,92.0,95.0,89.0,95.0,91.0,99.0,89.0,97.0,93.0,101.0,104.0,111.0
78.0,91.0,93.0,88.0,94.0,90.0,98.0,88.0,96.0,92.0,100.0,102.0,109.0
77.0,90.0,92.0,87.0,93.0,89.0,97.0,87.0,95.0,91.0,99.0,101.0,108.0
76.0,89.0,91.0,86.0,92.0,88.0,96.0,86.0,94.0,90.0,97.0,100.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...
24.0,38.0,38.0,39.0,37.0,39.0,38.0,39.0,38.0,40.0,39.0,40.0,40.0
23.0,37.0,37.0,38.0,36.0,38.0,36.0,38.0,37.0,39.0,38.0,39.0,39.0
22.0,36.0,36.0,37.0,35.0,37.0,35.0,37.0,36.0,38.0,37.0,38.0,37.0
21.0,35.0,35.0,36.0,34.0,36.0,34.0,36.0,35.0,37.0,35.0,37.0,36.0
20.0,34.0,34.0,35.0,33.0,35.0,33.0,36.0,34.0,36.0,34.0,36.0,35.0

In [53]:
def state_tscore_on_table(r):
    raw = float(r["STAI_State_raw"])

    if np.isnan(raw):
        return np.nan
    else:
        raw = int(raw)
    #print(raw)
    gender_val = float(r['DemC5'])
    #print(gender_val)
    age_val = float(r['age'])
    #print(age_val, gender_val, raw)
    #print(r['PROLIFIC_PID'])
    
    out_val = np.nan
    
    if (raw > 80) | (raw <20):
        out_val = np.nan
    else:
        if np.isnan(age_val) | np.isnan(gender_val) | np.isnan(raw) :
            out_val = np.nan
        elif ((age_val <= 39) & (age_val >=17)) & (gender_val==1):
            out_val = lookup.loc[raw][0]
        elif ((age_val <= 39) & (age_val >=17)) & (gender_val==2):
            out_val = lookup.loc[raw][2]
        elif ((age_val <= 49) & (age_val >=40)) & (gender_val==1):
            out_val = lookup.loc[raw][4]
        elif ((age_val <= 49) & (age_val >=40)) & (gender_val==2):
            out_val = lookup.loc[raw][6]
        elif ((age_val <= 71) & (age_val >=50)) & (gender_val==1):
            out_val = lookup.loc[raw][8]
        elif ((age_val <= 71) & (age_val >=50)) & (gender_val==2):
            out_val = lookup.loc[raw][10]
    return out_val

def trait_tscore_on_table(r):
    raw = float(r["STAI_Trait_raw"])

    if np.isnan(raw):
        return np.nan
    else:
        raw = int(raw)
    #print(raw)
    gender_val = float(r['DemC5'])
    #print(gender_val)
    age_val = float(r['age'])
    #print(age_val, gender_val, raw)
    
    out_val = np.nan
    
    if (raw > 80) | (raw <20):
        out_val = np.nan
    else:
        if np.isnan(age_val) | np.isnan(gender_val) | np.isnan(raw) :
            out_val = np.nan
        elif ((age_val <= 39) & (age_val >=17)) & (gender_val==1):
            out_val = lookup.loc[raw][1]
        elif ((age_val <= 39) & (age_val >=17)) & (gender_val==2):
            out_val = lookup.loc[raw][3]
        elif ((age_val <= 49) & (age_val >=40)) & (gender_val==1):
            out_val = lookup.loc[raw][5]
        elif ((age_val <= 49) & (age_val >=40)) & (gender_val==2):
            out_val = lookup.loc[raw][7]
        elif ((age_val <= 71) & (age_val >=50)) & (gender_val==1):
            out_val = lookup.loc[raw][9]
        elif ((age_val <= 71) & (age_val >=50)) & (gender_val==2):
            out_val = lookup.loc[raw][11]
    return out_val

def bdi_range(r):
    bdi = float(r['BDI_total_raw'])
    out = np.nan
    if np.isnan(bdi):
        out = np.nan
    elif bdi <= 13:
        out = 1
    elif (bdi <= 19) & (bdi >=14):
        out = 2
    elif (bdi <= 28) & (bdi >=20):
        out = 3
    elif (bdi <= 63) & (bdi >=29):
        out = 4
    
    return out

def state_trait_range(r, state_trait):
    st = float(r[state_trait])
    out = np.nan
    if np.isnan(st):
        out = np.nan
    elif (st <= 37) & (st >=20):
        out = 1
    elif (st <= 44) & (st >=38):
        out = 2
    elif (st <= 63) & (st >=45):
        out = 3
    return out

In [54]:
test.loc[test['PROLIFIC_PID']=='561d98e03d7fe8000b0f5e09', 'STAI_State_raw']

1147      47
2027      52
3916      41
5176      46
6195      48
7475      43
8654      49
10699     47
12068     41
12353     45
13496     54
14986     49
15718     39
16287     37
17405     41
18291    NaN
19628     45
20046     81
Name: STAI_State_raw, dtype: object

In [55]:
state_tscore = test.apply(state_tscore_on_table, axis=1)
trait_tscore = test.apply(trait_tscore_on_table, axis=1)
bdi_range = test.apply(bdi_range, axis=1)

In [56]:
state_tscore

0        55.0
1        92.0
2        54.0
3        70.0
4        71.0
         ...
20693    56.0
20694    68.0
20695    49.0
20696    40.0
20697    45.0
Length: 20698, dtype: float64

In [57]:
data['STAI_State_Tscore'] = state_tscore
data['STAI_Trait_Tscore'] = trait_tscore
data['BDI_total_range'] = bdi_range

In [58]:
#state_tscore_range = test.apply(state_trait_range, axis=1, args=['STAI_State_Tscore'])
#trait_tscore_range = test.apply(state_trait_range, axis=1, args=['STAI_Trait_Tscore'])

In [59]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', ' ', 'AnxS1_1', 'AnxS1_10', 'AnxS1_11',
       'AnxS1_12', 'AnxS1_13', 'AnxS1_14', 'AnxS1_15',
       ...
       'countLongString_LEC_NA_May', 'maxLongString_Cnsp',
       'meanLongString_Cnsp', 'countLongString_Cnsp', 'agecats', 'caseid',
       'rake_weights', 'STAI_State_Tscore', 'STAI_Trait_Tscore',
       'BDI_total_range'],
      dtype='object', length=4280)

In [60]:
test.head()

,Unnamed: 0,Unnamed: 0.1,,AnxS1_1,AnxS1_10,AnxS1_11,AnxS1_12,AnxS1_13,AnxS1_14,AnxS1_15,...,meanLongString_LEC_NA_May,countLongString_LEC_NA_May,maxLongString_Cnsp,meanLongString_Cnsp,countLongString_Cnsp,agecats,caseid,rake_weights,DemC5,age
0,0,0,32,3.0,3.0,2.0,2.0,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,33.0
1,1,1,55,1.0,1.0,2.0,3.0,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,age55_59,1,1.15052051219556,2.0,56.0
2,2,2,64,3.0,3.0,3.0,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,age60_100,2,2.48387225450803,2.0,65.0
3,3,3,23,2.0,2.0,1.0,2.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,age18_24,3,1.34368149096891,1.0,23.0
4,4,4,25,2.0,1.0,2.0,2.0,2.0,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,26.0

In [65]:
# Final check

out = data.drop(['Unnamed: 0', ' ', 'Unnamed: 0.1'], axis=1)

In [66]:
out.head()

,AnxS1_1,AnxS1_10,AnxS1_11,AnxS1_12,AnxS1_13,AnxS1_14,AnxS1_15,AnxS1_16,AnxS1_17,AnxS1_18,...,countLongString_LEC_NA_May,maxLongString_Cnsp,meanLongString_Cnsp,countLongString_Cnsp,agecats,caseid,rake_weights,STAI_State_Tscore,STAI_Trait_Tscore,BDI_total_range
0,3.0,3.0,2.0,2.0,3.0,1.0,2.0,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,65.0,NaN
1,1.0,1.0,2.0,3.0,3.0,1.0,1.0,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,age55_59,1,1.15052051219556,92.0,80.0,NaN
2,3.0,3.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,age60_100,2,2.48387225450803,54.0,49.0,NaN
3,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,...,NaN,NaN,NaN,NaN,age18_24,3,1.34368149096891,70.0,75.0,NaN
4,2.0,1.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,68.0,NaN

In [67]:
out.to_csv('./output/combined_wave1-17_A-N_validation_raking_tscore.csv', index=False)

In [68]:
out.loc[out['PROLIFIC_PID'] == 'CC0183', ['DemC5', "STAI_State_raw", "STAI_State_raw","STAI_State_Tscore","STAI_Trait_raw","STAI_Trait_Tscore", 'DemC51','wave']]

,DemC5,STAI_State_raw,STAI_State_raw,STAI_State_Tscore,STAI_Trait_raw,STAI_Trait_Tscore,DemC51,wave
10962,NaN,25,25,40.0,NaN,NaN,NaN,B
11011,NaN,22,22,37.0,NaN,NaN,NaN,C
11060,NaN,52,52,64.0,NaN,NaN,NaN,D
11105,NaN,31,31,45.0,31,45.0,NaN,E
13229,NaN,45,45,58.0,NaN,NaN,NaN,F
13272,NaN,42,42,55.0,31,45.0,NaN,G
15260,NaN,23,23,38.0,27,40.0,NaN,I
16215,NaN,24,24,39.0,NaN,NaN,NaN,J
20026,NaN,23,23,38.0,23,36.0,NaN,M
20697,NaN,31,31,45.0,35,49.0,NaN,N

In [31]:
out.loc[out['PROLIFIC_PID'] == 'CC0190', ['age', 'DemC5', "STAI_State_raw", "STAI_State_raw","STAI_State_Tscore","STAI_Trait_raw","STAI_Trait_Tscore", 'DemC51','wave']]

/Users/Work/opt/anaconda3/envs/g/lib/python3.6/site-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,age,DemC5,STAI_State_raw,STAI_State_raw,STAI_State_Tscore,STAI_Trait_raw,STAI_Trait_Tscore,DemC51,wave
10966,NaN,NaN,25,25,40.0,NaN,NaN,NaN,B
11015,NaN,NaN,26,26,41.0,NaN,NaN,NaN,C
11064,NaN,NaN,46,46,59.0,NaN,NaN,NaN,D
11087,NaN,NaN,35,35,49.0,46,60.0,NaN,E
13233,NaN,NaN,29,29,43.0,NaN,NaN,NaN,F
13276,NaN,NaN,50,50,63.0,43,57.0,NaN,G
16209,NaN,NaN,44,44,57.0,NaN,NaN,NaN,J
17194,NaN,NaN,39,39,53.0,45,59.0,NaN,K
18136,NaN,NaN,53,53,65.0,NaN,NaN,NaN,L
20030,NaN,NaN,35,35,49.0,48,62.0,NaN,M

In [100]:
out.loc[out['PROLIFIC_PID'] == '5c2fcd716ea6880001dc8e3d', ['age', 'DemC5', "STAI_State_raw", "STAI_State_raw","STAI_State_Tscore","STAI_Trait_raw","STAI_Trait_Tscore", 'DemC51','wave']]

,age,DemC5,STAI_State_raw,STAI_State_raw,STAI_State_Tscore,STAI_Trait_raw,STAI_Trait_Tscore,DemC51,wave
312,NaN,2.0,55,55,76.0,49,72.0,1963,1
2298,NaN,NaN,56,56,77.0,NaN,NaN,NaN,2
3936,NaN,NaN,53,53,74.0,NaN,NaN,NaN,3
5128,NaN,NaN,50,50,71.0,NaN,NaN,NaN,4
6528,NaN,NaN,53,53,74.0,NaN,NaN,NaN,5
7775,NaN,NaN,55,55,76.0,NaN,NaN,NaN,6
8960,NaN,NaN,57,57,78.0,NaN,NaN,NaN,7
10464,NaN,NaN,58,58,80.0,54,79.0,NaN,8
11933,NaN,NaN,55,55,76.0,NaN,NaN,NaN,9
12836,NaN,NaN,33,33,51.0,41,62.0,NaN,10
13497,NaN,NaN,52,52,73.0,NaN,NaN,NaN,11
14570,NaN,NaN,35,35,53.0,55,80.0,NaN,12
15693,NaN,NaN,44,44,63.0,NaN,NaN,NaN,13
16539,NaN,NaN,40,40,59.0,52,76.0,NaN,14
17334,NaN,NaN,53,53,74.0,NaN,NaN,NaN,15
18212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15b
19462,NaN,NaN,51,51,72.0,54,79.0,NaN,16
20055,NaN,NaN,39,39,58.0,40,61.0,NaN,17

In [179]:
out.loc[out['PROLIFIC_PID'] == '5bdd368719b9ba000157fb12', ['age', 'DemC5', "STAI_State_raw", "STAI_State_raw","STAI_State_Tscore","STAI_Trait_raw","STAI_Trait_Tscore", 'DemC51','wave']]

,age,DemC5,STAI_State_raw,STAI_State_raw,STAI_State_Tscore,STAI_Trait_raw,STAI_Trait_Tscore,DemC51,wave
10,29,2.0,29,29,43.0,45,59.0,NaN,1
2182,29,2.0,23,23,38.0,NaN,NaN,NaN,2
3440,29,2.0,28,28,43.0,NaN,NaN,NaN,3
4759,29,2.0,31,31,45.0,NaN,NaN,NaN,4
6451,29,2.0,20,20,35.0,NaN,NaN,NaN,5
7706,29,2.0,33,33,47.0,NaN,NaN,NaN,6
8894,29,2.0,20,20,35.0,NaN,NaN,NaN,7
10076,29,2.0,46,46,59.0,54,69.0,NaN,8
11291,29,2.0,20,20,35.0,NaN,NaN,NaN,9
13112,29,2.0,20,20,35.0,44,58.0,NaN,10
14105,29,2.0,65,65,76.0,NaN,NaN,NaN,11
14503,29,2.0,26,26,41.0,56,71.0,NaN,12
15536,29,2.0,23,23,38.0,NaN,NaN,NaN,13
16477,29,2.0,21,21,36.0,36,50.0,NaN,14
17317,29,2.0,20,20,35.0,NaN,NaN,NaN,15
18422,29,2.0,NaN,NaN,NaN,NaN,NaN,NaN,15b
19860,29,2.0,20,20,35.0,50,65.0,NaN,16

In [32]:
out['DemC51']

0        1987
1        1964
2        1955
3        1997
4        1994
         ...
20693     NaN
20694     NaN
20695     NaN
20696     NaN
20697     NaN
Name: DemC51, Length: 20698, dtype: object

In [68]:
out

,AnxS1_1,AnxS1_10,AnxS1_11,AnxS1_12,AnxS1_13,AnxS1_14,AnxS1_15,AnxS1_16,AnxS1_17,AnxS1_18,...,tr_1s,tr_1s_administered,tr_1s_missing,tr_pct_bad_rts,agecats,caseid,rake_weights,STAI_State_Tscore,STAI_Trait_Tscore,BDI_total_range
0,3.0,3.0,2.0,2.0,3.0,1.0,2.0,3.0,2.0,1.0,...,True,True,False,False,NaN,NaN,NaN,55.0,65.0,NaN
1,1.0,1.0,2.0,3.0,3.0,1.0,1.0,1.0,4.0,1.0,...,True,True,False,False,age55_59,1,1.15052051219556,92.0,80.0,NaN
2,3.0,3.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,True,True,False,False,age60_100,2,2.48387225450803,54.0,49.0,NaN
3,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,...,True,True,False,False,age18_24,3,1.34368149096891,70.0,75.0,NaN
4,2.0,1.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,3.0,...,True,True,False,False,NaN,NaN,NaN,71.0,68.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20693,2.0,2.0,2.0,1.0,1.0,3.0,2.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,70.0,1.0
20694,4.0,3.0,3.0,3.0,1.0,2.0,3.0,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,59.0,1.0
20695,3.0,3.0,3.0,2.0,1.0,1.0,3.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,50.0,1.0
20696,4.0,4.0,4.0,1.0,1.0,1.0,3.0,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,38.0,1.0
20697,3.0,3.0,4.0,1.0,1.0,1.0,3.0,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,49.0,1.0