In [1]:
import pandas as pd
import numpy as np

In [2]:
lookup = pd.read_excel('lookup.xlsx', header=2, index_col=0)

In [3]:
lookup

,State,Trait,State.1,Trait.1,State.2,Trait.2,State.3,Trait.3,State.4,Trait.4,State.5,Trait.5
Raw Score,,,,,,,,,,,,
80.0,93.0,96.0,90.0,96.0,92.0,101.0,90.0,98.0,94.0,102.0,105.0,112.0
79.0,92.0,95.0,89.0,95.0,91.0,99.0,89.0,97.0,93.0,101.0,104.0,111.0
78.0,91.0,93.0,88.0,94.0,90.0,98.0,88.0,96.0,92.0,100.0,102.0,109.0
77.0,90.0,92.0,87.0,93.0,89.0,97.0,87.0,95.0,91.0,99.0,101.0,108.0
76.0,89.0,91.0,86.0,92.0,88.0,96.0,86.0,94.0,90.0,97.0,100.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...
24.0,38.0,38.0,39.0,37.0,39.0,38.0,39.0,38.0,40.0,39.0,40.0,40.0
23.0,37.0,37.0,38.0,36.0,38.0,36.0,38.0,37.0,39.0,38.0,39.0,39.0
22.0,36.0,36.0,37.0,35.0,37.0,35.0,37.0,36.0,38.0,37.0,38.0,37.0
21.0,35.0,35.0,36.0,34.0,36.0,34.0,36.0,35.0,37.0,35.0,37.0,36.0
20.0,34.0,34.0,35.0,33.0,35.0,33.0,36.0,34.0,36.0,34.0,36.0,35.0

In [4]:
data = pd.read_csv('./output/combined_wave1-18_A-N_validation_raking.csv', encoding = "ISO-8859-1", dtype=str, keep_default_na=False, na_values='')

In [5]:
conte_subjects = pd.read_csv('./Working_Data/Week2_Conte/W2C_Qualtrics/COVID19_first_CONTE_WEEK2_num_items.csv', encoding = "ISO-8859-1")

In [6]:
conte_subject_age_sex = conte_subjects[['PROLIFIC_PID', 'DemC5', 'DemC1']].drop([0], axis=0)

In [7]:
subset = data.loc[(data['wave']=='1'), ['DemC5', 'DemC51', 'PROLIFIC_PID']]
#subset = subset.rename({'DemC5': 'gender'}, axis=1)

In [8]:
subset.head()

  DemC5 DemC51              PROLIFIC_PID
0   1.0   1987  5df82e8739bcde5dd044f741
1   2.0   1964  5c7e91c1973c990016ea72b0
2   2.0   1955  5e753094e8a6f10a9805ed9a
3   1.0   1997  5e67052c757e6149c38ce468
4   1.0   1994  5e7745990fd39b2a816ec341

In [9]:
conte_subject_age_sex.head()

  PROLIFIC_PID DemC5 DemC1
1       CC0003     2    36
2       CC0005     2    38
3       CC0007     2    33
4       CC0008     1    31
5       CC0012     1    33

In [10]:
subset['age'] = 2020 - subset['DemC51'].astype(float)

In [11]:
names = conte_subject_age_sex.columns.tolist()
names[-1] = 'age'
conte_subject_age_sex.columns = names
conte_subject_age_sex.head()

  PROLIFIC_PID DemC5 age
1       CC0003     2  36
2       CC0005     2  38
3       CC0007     2  33
4       CC0008     1  31
5       CC0012     1  33

In [12]:
subset = subset.drop(['DemC51'], axis=1)

In [13]:
subset

     DemC5              PROLIFIC_PID   age
0      1.0  5df82e8739bcde5dd044f741  33.0
1      2.0  5c7e91c1973c990016ea72b0  56.0
2      2.0  5e753094e8a6f10a9805ed9a  65.0
3      1.0  5e67052c757e6149c38ce468  23.0
4      1.0  5e7745990fd39b2a816ec341  26.0
...    ...                       ...   ...
1792   2.0  5b5e7e643bac1d0001f9bf28  33.0
1793   1.0  5d56123417ee8d0001cd9e00  73.0
1794   1.0  5d8e3cd58c996a00138f684c  39.0
1795   1.0  5d7e7a080cc1c900155d5d07  36.0
1796   1.0  5def020419398a5b744b98b9  31.0

[1797 rows x 3 columns]

In [14]:
df = pd.concat([subset, conte_subject_age_sex]).reset_index(drop=True)

In [15]:
data_test = data.drop(['DemC5', 'DemC51'], axis=1)

In [16]:
test = data_test.merge(df, how='left', on=['PROLIFIC_PID'])

In [17]:
test.loc[test['PROLIFIC_PID']=='CC0009', ['age', 'DemC5', 'wave']]

      age DemC5 wave
10921  29     1    B
10970  29     1    C
11019  29     1    D
11071  29     1    E
13188  29     1    F
13237  29     1    G
14266  29     1    H
15232  29     1    I
16239  29     1    J
17159  29     1    K
18098  29     1    L
19992  29     1    M

In [18]:
lookup

,State,Trait,State.1,Trait.1,State.2,Trait.2,State.3,Trait.3,State.4,Trait.4,State.5,Trait.5
Raw Score,,,,,,,,,,,,
80.0,93.0,96.0,90.0,96.0,92.0,101.0,90.0,98.0,94.0,102.0,105.0,112.0
79.0,92.0,95.0,89.0,95.0,91.0,99.0,89.0,97.0,93.0,101.0,104.0,111.0
78.0,91.0,93.0,88.0,94.0,90.0,98.0,88.0,96.0,92.0,100.0,102.0,109.0
77.0,90.0,92.0,87.0,93.0,89.0,97.0,87.0,95.0,91.0,99.0,101.0,108.0
76.0,89.0,91.0,86.0,92.0,88.0,96.0,86.0,94.0,90.0,97.0,100.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...
24.0,38.0,38.0,39.0,37.0,39.0,38.0,39.0,38.0,40.0,39.0,40.0,40.0
23.0,37.0,37.0,38.0,36.0,38.0,36.0,38.0,37.0,39.0,38.0,39.0,39.0
22.0,36.0,36.0,37.0,35.0,37.0,35.0,37.0,36.0,38.0,37.0,38.0,37.0
21.0,35.0,35.0,36.0,34.0,36.0,34.0,36.0,35.0,37.0,35.0,37.0,36.0
20.0,34.0,34.0,35.0,33.0,35.0,33.0,36.0,34.0,36.0,34.0,36.0,35.0

In [19]:
def state_tscore_on_table(r):
    raw = float(r["STAI_State_raw"])

    if np.isnan(raw):
        return np.nan
    else:
        raw = int(raw)
    #print(raw)
    gender_val = float(r['DemC5'])
    #print(gender_val)
    age_val = float(r['age'])
    #print(age_val, gender_val, raw)
    #print(r['PROLIFIC_PID'])
    
    out_val = np.nan
    
    if (raw > 80) | (raw <20):
        out_val = np.nan
    else:
        if np.isnan(age_val) | np.isnan(gender_val) | np.isnan(raw) :
            out_val = np.nan
        elif ((age_val <= 39) & (age_val >=17)) & (gender_val==1):
            out_val = lookup.loc[raw][0]
        elif ((age_val <= 39) & (age_val >=17)) & (gender_val==2):
            out_val = lookup.loc[raw][2]
        elif ((age_val <= 49) & (age_val >=40)) & (gender_val==1):
            out_val = lookup.loc[raw][4]
        elif ((age_val <= 49) & (age_val >=40)) & (gender_val==2):
            out_val = lookup.loc[raw][6]
        elif ((age_val <= 71) & (age_val >=50)) & (gender_val==1):
            out_val = lookup.loc[raw][8]
        elif ((age_val <= 71) & (age_val >=50)) & (gender_val==2):
            out_val = lookup.loc[raw][10]
    return out_val

def trait_tscore_on_table(r):
    raw = float(r["STAI_Trait_raw"])

    if np.isnan(raw):
        return np.nan
    else:
        raw = int(raw)
    #print(raw)
    gender_val = float(r['DemC5'])
    #print(gender_val)
    age_val = float(r['age'])
    #print(age_val, gender_val, raw)
    
    out_val = np.nan
    
    if (raw > 80) | (raw <20):
        out_val = np.nan
    else:
        if np.isnan(age_val) | np.isnan(gender_val) | np.isnan(raw) :
            out_val = np.nan
        elif ((age_val <= 39) & (age_val >=17)) & (gender_val==1):
            out_val = lookup.loc[raw][1]
        elif ((age_val <= 39) & (age_val >=17)) & (gender_val==2):
            out_val = lookup.loc[raw][3]
        elif ((age_val <= 49) & (age_val >=40)) & (gender_val==1):
            out_val = lookup.loc[raw][5]
        elif ((age_val <= 49) & (age_val >=40)) & (gender_val==2):
            out_val = lookup.loc[raw][7]
        elif ((age_val <= 71) & (age_val >=50)) & (gender_val==1):
            out_val = lookup.loc[raw][9]
        elif ((age_val <= 71) & (age_val >=50)) & (gender_val==2):
            out_val = lookup.loc[raw][11]
    return out_val

def bdi_range(r):
    bdi = float(r['BDI_total_raw'])
    out = np.nan
    if np.isnan(bdi):
        out = np.nan
    elif bdi <= 13:
        out = 1
    elif (bdi <= 19) & (bdi >=14):
        out = 2
    elif (bdi <= 28) & (bdi >=20):
        out = 3
    elif (bdi <= 63) & (bdi >=29):
        out = 4
    
    return out

def state_trait_range(r, state_trait):
    st = float(r[state_trait])
    out = np.nan
    if np.isnan(st):
        out = np.nan
    elif (st <= 37) & (st >=20):
        out = 1
    elif (st <= 44) & (st >=38):
        out = 2
    elif (st <= 63) & (st >=45):
        out = 3
    return out

In [20]:
test.loc[test['PROLIFIC_PID']=='561d98e03d7fe8000b0f5e09', 'STAI_State_raw']

1147      47
2027      52
3916      41
5176      46
6195      48
7475      43
8654      49
10699     47
12068     41
12353     45
13496     54
14986     49
15718     39
16287     37
17405     41
18291    NaN
19628     45
20065     81
20732     45
Name: STAI_State_raw, dtype: object

In [21]:
state_tscore = test.apply(state_tscore_on_table, axis=1)
trait_tscore = test.apply(trait_tscore_on_table, axis=1)
bdi_range = test.apply(bdi_range, axis=1)

In [22]:
state_tscore

0        55.0
1        92.0
2        54.0
3        70.0
4        71.0
         ...
21242    36.0
21243    45.0
21244    46.0
21245    55.0
21246    35.0
Length: 21247, dtype: float64

In [23]:
data['STAI_State_Tscore'] = state_tscore
data['STAI_Trait_Tscore'] = trait_tscore
data['BDI_total_range'] = bdi_range

In [24]:
#state_tscore_range = test.apply(state_trait_range, axis=1, args=['STAI_State_Tscore'])
#trait_tscore_range = test.apply(state_trait_range, axis=1, args=['STAI_Trait_Tscore'])

In [25]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'V1', 'V2', 'V3', 'V4', 'V5',
       'PROLIFIC_PID', 'TASK1', 'TASK2',
       ...
       'amp_administered', 'biat_administered', 'nCompleted', 'perc_complete',
       'agecats', 'caseid', 'rake_weights', 'STAI_State_Tscore',
       'STAI_Trait_Tscore', 'BDI_total_range'],
      dtype='object', length=4094)

In [26]:
test.head()

,Unnamed: 0,Unnamed: 0.1,V1,V2,V3,V4,V5,PROLIFIC_PID,TASK1,TASK2,...,iat_administered,amp_administered,biat_administered,nCompleted,perc_complete,agecats,caseid,rake_weights,DemC5,age
0,0,0,R_2ROqxMOS20VJuQI,Default Response Set,4/5/20 10:40,4/5/20 11:24,1,5df82e8739bcde5dd044f741,cvd_pgg,pro_iat,...,True,True,False,3.0,0.17647058823529413,NaN,NaN,NaN,1.0,33.0
1,1,1,R_3qPaGJOZNgMHEYz,Default Response Set,4/5/20 10:51,4/5/20 11:41,1,5c7e91c1973c990016ea72b0,cvd_amp,cvd_pgg,...,True,True,False,17.0,1.0,age55_59,1,1.15052051219556,2.0,56.0
2,2,2,R_3GjGPWLHGDG7lkE,Default Response Set,4/5/20 10:52,4/5/20 11:49,1,5e753094e8a6f10a9805ed9a,cvd_pgg,tr_1s,...,True,True,False,16.0,0.9411764705882353,age60_100,2,2.48387225450803,2.0,65.0
3,3,3,R_3eaj9TJfmhq1FLs,Default Response Set,4/5/20 10:49,4/5/20 11:53,1,5e67052c757e6149c38ce468,cvd_amp,pro_iat,...,True,True,False,9.0,0.5294117647058824,age18_24,3,1.34368149096891,1.0,23.0
4,4,4,R_2Yh84GpehIS1WFU,Default Response Set,4/5/20 10:56,4/5/20 11:55,1,5e7745990fd39b2a816ec341,cvd_amp,cvd_pgg,...,True,True,False,4.0,0.23529411764705882,NaN,NaN,NaN,1.0,26.0

In [27]:
# Final check

out = data.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [28]:
out.head()

,V1,V2,V3,V4,V5,PROLIFIC_PID,TASK1,TASK2,TASK3,TASK4,...,amp_administered,biat_administered,nCompleted,perc_complete,agecats,caseid,rake_weights,STAI_State_Tscore,STAI_Trait_Tscore,BDI_total_range
0,R_2ROqxMOS20VJuQI,Default Response Set,4/5/20 10:40,4/5/20 11:24,1,5df82e8739bcde5dd044f741,cvd_pgg,pro_iat,cvd_amp,tr_1s,...,True,False,3.0,0.17647058823529413,NaN,NaN,NaN,55.0,65.0,NaN
1,R_3qPaGJOZNgMHEYz,Default Response Set,4/5/20 10:51,4/5/20 11:41,1,5c7e91c1973c990016ea72b0,cvd_amp,cvd_pgg,pro_iat,tr_1s,...,True,False,17.0,1.0,age55_59,1,1.15052051219556,92.0,80.0,NaN
2,R_3GjGPWLHGDG7lkE,Default Response Set,4/5/20 10:52,4/5/20 11:49,1,5e753094e8a6f10a9805ed9a,cvd_pgg,tr_1s,cvd_amp,pro_iat,...,True,False,16.0,0.9411764705882353,age60_100,2,2.48387225450803,54.0,49.0,NaN
3,R_3eaj9TJfmhq1FLs,Default Response Set,4/5/20 10:49,4/5/20 11:53,1,5e67052c757e6149c38ce468,cvd_amp,pro_iat,tr_1s,cvd_pgg,...,True,False,9.0,0.5294117647058824,age18_24,3,1.34368149096891,70.0,75.0,NaN
4,R_2Yh84GpehIS1WFU,Default Response Set,4/5/20 10:56,4/5/20 11:55,1,5e7745990fd39b2a816ec341,cvd_amp,cvd_pgg,tr_1s,pro_iat,...,True,False,4.0,0.23529411764705882,NaN,NaN,NaN,71.0,68.0,NaN

In [29]:
out.to_csv('./output/combined_wave1-18_A-N_validation_raking_tscore.csv', index=False)

In [30]:
out.loc[out['PROLIFIC_PID'] == 'CC0183', ['DemC5', "STAI_State_raw", "STAI_State_raw","STAI_State_Tscore","STAI_Trait_raw","STAI_Trait_Tscore", 'DemC51','wave']]

,DemC5,STAI_State_raw,STAI_State_raw,STAI_State_Tscore,STAI_Trait_raw,STAI_Trait_Tscore,DemC51,wave
10962,NaN,25,25,40.0,NaN,NaN,NaN,B
11011,NaN,22,22,37.0,NaN,NaN,NaN,C
11060,NaN,52,52,64.0,NaN,NaN,NaN,D
11105,NaN,31,31,45.0,31,45.0,NaN,E
13229,NaN,45,45,58.0,NaN,NaN,NaN,F
13272,NaN,42,42,55.0,31,45.0,NaN,G
15260,NaN,23,23,38.0,27,40.0,NaN,I
16215,NaN,24,24,39.0,NaN,NaN,NaN,J
20026,NaN,23,23,38.0,23,36.0,NaN,M
20694,NaN,31,31,45.0,35,49.0,NaN,N

In [31]:
out.loc[out['PROLIFIC_PID'] == '5c2fcd716ea6880001dc8e3d', ['age', 'DemC5', "STAI_State_raw", "STAI_State_raw","STAI_State_Tscore","STAI_Trait_raw","STAI_Trait_Tscore", 'DemC51','wave']]

KeyError: "['age'] not in index"

In [ ]:
out.loc[out['PROLIFIC_PID'] == '5bdd368719b9ba000157fb12', ['age', 'DemC5', "STAI_State_raw", "STAI_State_raw","STAI_State_Tscore","STAI_Trait_raw","STAI_Trait_Tscore", 'DemC51','wave']]

In [ ]:
out['DemC51']

In [ ]:
out2 = out.drop(['prlfc_dem_employ_status_y'], axis=1).rename(columns={'prlfc_dem_employ_status_x':'prlfc_dem_employ_status'})

In [ ]:
out3 = out2.drop(['prlfc_dem_state_y'], axis=1).rename(columns={'prlfc_dem_state_x':'prlfc_dem_state'})

In [ ]:
out3['EPII10_7_1']

In [ ]:
CCID_

In [ ]:
["EPII10_7_1","EPII10_7_2","EPII7_1_1","EPII7_1_2","EPII7_2_1","EPII7_2_2","EPII9_8_1","EPII9_8_2"
test
CCID
CCID_x
CCID_y
RT_Black
RT_White
RT_Hispanic
RT_Asian
RT_Chinese
RT_European
RecordedDate